    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tableau de bord</h3>
                    </div>
                    <ul class="list-group">
                        <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Identité</a>
                        <a href="{{ path('fos_user_change_password') }}" class="list-group-item">Mot de passe</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>