{% extends "::base.html.twig" %}
  
{% block body %}
    <!-- Page Content -->
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-3">
                index
            </div>
            <!-- /.col-md-9 -->
            <div class="col-md-6">
                Principe:Créer un système de petite annonce.<br>
                Inscription par login / mot de passe, mot de passe perdu, connexion (si possible login facebook).<br><br>
                Créer une annonce avec Catégorie, Titre, texte (plus tard la possibilité de mettre des images)<br>
                <br><br>
                Back-office: CRUD.<br>
                Pour les mails: utiliser Mailgun.com<br>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}